.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    width: 100%;
    max-width: 320px;
    margin-bottom: 50px;
    input {
      display: block;
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
    input[type="submit"] {
      background-color: #3498db;
      color: white;
    }
  }
}
